/* =========================
   GLOBAL
========================= */

body {

    background:
        linear-gradient(rgba(0, 0, 0, .4),
            rgba(0, 0, 0, .4)),
        url("../Image/lg.jpg");

    background-size: cover;
    background-position: center;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family:
        "Segoe UI",
        Arial,
        sans-serif;
}

a:hover {
    text-decoration: underline !important;
}




/* =========================
   CONTAINER
========================= */

.register-container {
    background: white;
    border-radius: 20px;

    overflow: hidden;

    display: flex;

    box-shadow:
        0 25px 60px rgba(0, 0, 0, .35);

}


/* =========================
   RIGHT PANEL
========================= */

.right-panel {


    width: 666px;

    background: white;

    padding: 35px 40px;

}




.register-title {

    color: #A50034;

    font-size: 32px;

    font-weight: 800;

    margin-bottom: 25px;

}



/* =========================
   FORM GRID
========================= */

#register-form {

    display: grid;

    grid-template-columns:
        1fr 1fr;

    gap: 18px 20px;

}



.form-group {

    position: relative;

}




.form-label {

    color: #333;

    font-weight: 700;

}




.form-control {

    height: 40px;

    border-radius: 8px;

    border:
        1px solid #d1d5db;

}



.form-control:focus {

    border-color: #A50034;

    box-shadow:
        0 0 0 .2rem rgba(165, 0, 52, .15);

}





/* =========================
   ERROR
========================= */

.error {

    position: absolute;

    left: 0;

    bottom: -15px;

    color: #dc2626;

    font-size: 11px;

}




input.is-invalid {

    border-color: #dc2626;

}



input.is-valid {

    border-color: #22c55e;

}




/* =========================
   BUTTON
========================= */
.register-action {
    grid-column:
        1 / 3;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#register-btn {
    width: 80%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #A50034;
    color: white;
    font-weight: 700;
    transition: .2s;
}

#register-btn:hover {
    background: #85002a;
    transform: translateY(-1px);
}

/* =========================
   FOOTER
========================= */
.footer-text {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.footer-text a {
    color: #A50034;
    font-weight: 700;
    text-decoration: none;
}


/* =========================
   MOBILE
========================= */
@media(max-width:800px) {
    .left-panel {
        display: none;
    }

    .right-panel {
        width: 100%;
    }

    .register-container {
        width: 90%;
    }

    #register-form {
        grid-template-columns:
            1fr;
    }

    .register-action {
        grid-column:
            1;
    }

    #register-btn {
        width: 100%;
    }
}