/* =========================
   GLOBAL
========================= */
body {
    background:
        linear-gradient(rgba(0, 0, 0, .4),
            rgba(0, 0, 0, .4)),
        url("../Image/lg.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:
        "Segoe UI",
        Arial,
        sans-serif;
}

.register-title {
    color: #A50034;
    font-size: 32px;
    font-weight: 800;
    letter-spacing: .5px;
}


.register-desc {
    color: #777;
    font-size: 15px;
    margin-top: 8px;
}

/* =========================
   MAIN CARD
========================= */
.register-container {
    width: 1050px;
    min-height: 650px;
    height: auto;
    background: #ffffff;
    border-radius: 20px;
    overflow: hidden;
    display: flex;
    box-shadow:
        0 25px 60px rgba(0, 0, 0, .35);

}



/* =========================
   LEFT BRAND
========================= */
.left-panel {
    flex: 1;
    padding: 60px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background:

        linear-gradient(135deg,
            #8f002d,
            #c8102e);

}

.left-panel {
    flex: 1;
    background-image:
        url("../Image/KTX.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* =========================
   RIGHT FORM
========================= */
.right-panel {
    width: 450px;
    background: #ffffff;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.right-panel form>div {
    margin-bottom: 14px !important;
}


.register-title {
    color: #A50034;
    font-size: 32px;
    font-weight: 800;
}

.register-desc {
    color: #777;
    margin-top: 8px;
    margin-bottom: 25px;
}

/* =========================
   FORM
========================= */
.form-label {
    color: #333;
    font-weight: 700;
}

.form-control {

    height: 40px;

    border-radius: 8px;

    border: 1px solid #d1d5db;

    background: #fff;

}

.form-control:focus {

    border-color: #A50034;

    box-shadow:
        0 0 0 .2rem rgba(165, 0, 52, .15);

}

.form-control::placeholder {
    color: #aaa;
}

/* =========================
   BUTTON
========================= */
#register-btn {
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 10px;
    background: #A50034;
    color: white;
    font-weight: 700;
    transition: .2s;
}

#register-btn:hover {
    background: #85002a;
    transform: translateY(-1px);
}

/* =========================
   FOOTER
========================= */
.footer-text {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

.footer-text a {
    color: #A50034;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* =========================
   ERROR
========================= */
.error {
    position: absolute;
    left: 0;
    bottom: -16px;
    color: #dc2626;
    font-size: 11px;
}

input.is-invalid {
    border-color: #dc2626;
}

input.is-valid {
    border-color: #22c55e;
}

button:disabled {
    opacity: .6;
    cursor: not-allowed;
}



/* =========================
   MOBILE
========================= */
@media(max-width:800px) {
    .left-panel {
        display: none;
    }

    .right-panel {
        width: 100%;
    }

    .register-container {
        width: 90%;
        height: auto;

    }
}